body {
    background-color: lightsteelblue;
}

h1 {
    color: black;
    text-align: center;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;

}

a {
    color: blueviolet;
}

#profile-image {
    max-width: 20%;
    height: auto;
    display: block;
    margin: 0 auto;
}


