body {
    background-color: lightcoral;
}

h1 {
    color: white;
    text-align: center;
}

p {
    font-family: tahoma;
    font-size: 20px;

}

a {
    color: black;
}

#profile-image {
    max-width: 20%;
    height: auto;
    display: block;
    margin: 0 auto;
}

