@media (min-width: 576px) {

body {
    background-color: #FFCBDD;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a {
    color: magenta 
}

a:hover {
    background-color: whitesmoke;
}

p {
    color: black;

}


h1 {
    background-color: white;
    text-align: center;
    border-radius: 10px;
    color: magenta;
    
}
h2 {
    color: whitesmoke;
    text-align: center;
    font-size: 50px;
    margin-top: 0px;
}
h3 {
    color: whitesmoke;
    text-align: center;
    font-size: 30px;
    margin: auto;
}


}