<nav>
    <a href="https://webpages.charlotte.edu/jhowlade/">CLT Webspace</a>
    ||
    <a href="https://github.com/Jash1m">Github</a>
    ||
    <a href="https://jash1m.github.io/">Github.io</a>
    ||
    <a href="https://jash1m.github.io/itis3135/">ITIS 3135 Github Pages</a>
    ||
    <a href="https://www.freecodecamp.org/Jash1m">freeCodeCamp</a>
    ||
    <a href="https://www.codecademy.com/profiles/Jash1m">Codeacademy</a>
    ||
    <a href="https://www.linkedin.com/in/jhowlader/">LinkedIn</a>
    </nav>
    <p>Page Built By <a href = "jazzyhippopotamus.com/jashimltd.com.html">Jazzy Hippopotamus</a>&copy; 2023</p>
        <a href = "https://validator.w3.org/check?uri=referer">
            <img style="border:0;width:88px;height:31px" src = "https://upload.wikimedia.org/wikipedia/commons/b/bb/W3C_HTML5_certified.png" alt="Valid HTML!">
        </a>
        <a href = "https://jigsaw.w3.org/css-validator/check/referer">
            <img style="border:0;width:88px;height:31px" src="https://jigsaw.w3.org/css-validator/images/vcss" alt="valid CSS!">
        </a>