<h1>Jashim Howlader's Jazzy Hippopotamus || ITIS 3135</h1>
<br>
<nav>
    <a href="./">Home</a>
    &#128194
    <a href="introduction.html">Introduction</a>
    &#128194
    <a href="contract.html">Contract</a>
    &#128194
    <a href="tables.html">Tables</a>
    &#128194
    <a href="forms.html">Forms</a>
    &#128194
    <a href="website_evaluations.html">Website_Evaluation</a>
    &#128194
    <a href="Stuff/lousY W$bsite.htm">Crappy Webpage</a>
</nav>
<br>
<nav>
    <a href="firstscripts.html">First Script</a>
    &#128194 
    <a href="arrays.html">Arrays</a>
    &#128194 
    <a href="byointro.html">BYO Intro</a>
    &#128194
    <a href="calculator_fcc.html">Calculator</a>
    &#128194
    <a href="emmet.html">Emmet</a>
    &#128194
    <a href="fizzbuzz.html">FizzBuzzBang</a>
</nav>
<br>
<nav>
    <a href="Client_ProjectPinkBag/index.html">Project 1</a>
    &#128194 
    <a href="project1.html">Project 2</a>
    &#128194 
    <a href="project1.html">Project 3A</a>
    &#128194 
    <a href="project1.html">Project 3B</a>
</nav>
<br>
<nav>
    <a href="Hobby/index.html">Hobby</a>
</nav>
<br>