<h1>Jashim Howlader's Jazzy Hippopotamus || ITIS 3135</h1>
<nav>
    <a href="./">Home</a>
    &#128194
    <a href="introduction.html">Introduction</a>
    &#128194
    <a href="contract.html">Contract</a>
    &#128194
    <a href="tables.html">Tables</a>
    &#128194
    <a href="forms.html">Forms</a>
    &#128194
    <a href="website_evaluations.html">Website_Evaluation</a>
    &#128194
    <a href="firstscripts.html">First Script</a>
    &#128194 
    <a href="byointro.html">BYO Intro</a>
    &#128194
    
</nav>
<br>
<nav>
    <a href="Stuff/lousY W$bsite.htm">Crappy Webpage</a>
    &#128194 
    <a href="emmet.html">Emmet</a>
    &#128194 
    <a href="project1.html">Project I</a>
    &#128194 
    <a href="calculator.html">Calculator</a>
</nav>
<br>
<nav>
    <a href="hobby.html">Hobby</a>
</nav>