<h1>Jashim Howlader's Jazzy Hippopotamus || ITIS 3135</h1>
<br>
<nav>
    <a href="./">Home</a>

    <a href="introduction.html">Introduction</a>
    🦛
    <a href="contract.html">Contract</a>
    🦛
    <a href="tables.html">Tables</a>
    🦛
    <a href="forms.html">Forms</a>
    🦛
    <a href="website_evaluations.html">Website Evaluation</a>
    🦛
    <a href="Stuff/lousY W$bsite.htm">Crappy Webpage</a>
</nav>
<br>
<nav class="middle-nav">
    <a href="firstscripts.html">First Script</a>
    🦛
    <a href="arrays.html">Arrays</a>
    🦛
    <a href="byointro.html">BYO Intro</a>
    🦛
    <a href="calculator_try.html">Calculator Try</a>
    🦛
    <a href="calculator_fcc.html">Calculator</a>
    🦛
    <a href="emmet.html">Emmet</a>
    🦛
    <a href="fizzbuzz.html">FizzBuzzBang</a>
</nav>
<br>
<nav>
    <a href="interactiveDrawing.html">Interactive Drawing</a>
    🦛
    <a href="slideshow.html">Slideshow</a>
    🦛
    <a href="Client_ProjectPinkBag/index.html" target="_blank">Client Project</a>
    🦛
    <a href="Hobby/index.html" target="_blank">Hobby</a>
    🦛
    <a href="review1.html">Peer Review I</a>
    🦛
    <a href="review2.html">Peer Review II</a>
</nav>
<br>
<nav class="last-nav">
    <a href="Activity14/howlader-Activity14.html" target="_blank">Activity 14</a>
    🦛
    <a href="Client_ProjectPinkBag/index.html">Interactive Elements</a>
    🦛
    <a href="Client_ProjectPinkBag/index.html">Clint Project 5A</a>
    🦛
    <a href="Client_ProjectPinkBag/index.html">Clint Project 5B</a>
</nav>



